.contactsTitle{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 124%;
  color: #244677;
}

.contactsList{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contactsButton{
  width: 239px;
  height: 56px;
  background: #4263EB;
  border-radius: 8px;
}

.tableHead{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #244677;
}

.tableBody> :nth-child(odd) {
  background-color: #F1F3F5;
}

.actionBtn{
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 144%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #495057;
  margin-left: 10px;
}